<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>E-Learning - Học Online</title>
  <link rel="stylesheet" th:href="@{/css/general.css}">
  <link rel="stylesheet" th:href="@{/css/home.css}">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--  <title th:text="${title}">Trang Web</title>-->
<!--  <script th:if="${script != null}" th:src="@{${script}}"></script>-->
<!--  <link rel="stylesheet" th:href="@{/css/general.css}">-->
<!--  <link rel="stylesheet" th:href="@{/css/home.css}">-->
<!--  <script src="https://cdn.tailwindcss.com"></script>-->

<!--</head>-->
