.exam-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px; /* Khoảng cách giữa các phần tử trong exam-card */
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    width: 250px;
}

.exam-card div {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.exam-card form {
    margin-right: 5px; /* Khoảng cách giữa các button nếu có nhiều button */
}

.exam-card button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.exam-c
