<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lỗi - E-Learning</title>
  <link rel="stylesheet" th:href="@{/css/error.css}">
</head>
<body>

<header>
  <div class="logo">
    <img src="/img/logo.png" alt="Logo">
  </div>

  <nav>
    <ul>
      <li><a href="/home">Trang chủ</a></li>
      <li><a href="#">Diễn đàn</a></li>
      <li><a href="#">Lý thuyết</a></li>
      <li><a href="#">Liên hệ</a></li>
    </ul>
  </nav>
</header>

<main>
  <section class="error-container">
    <h1 class="error-message">Đã có lỗi xảy ra!</h1>
    <p class="error-details">Xin lỗi, có một vấn đề xảy ra trong quá trình thực hiện. Vui lòng thử lại sau hoặc liên hệ với chúng tôi nếu cần hỗ trợ.</p>
    <a href="/home">
      <button class="back-btn">Trở về trang chủ</button>
    </a>
  </section>
</main>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
