<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lỗi - E-Learning</title>
  <link rel="stylesheet" th:href="@{/css/error.css}">
</head>
<div th:insert="fragments/header :: header"></div>

<main>
  <section class="error-container">
    <h1 class="error-message">Đã có lỗi xảy ra!</h1>
    <span th:text="${error}"></span>
    <p class="error-details">Vui lòng thử lại sau hoặc liên hệ với chúng tôi nếu cần hỗ trợ.</p>
    <a href="/home">
      <button class="back-btn">Trở về trang chủ</button>
    </a>
  </section>
</main>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
