<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Làm bài thi</title>
</head>
<body>
<p><strong>Tên đề:</strong> <span th:text="${exam.examName}"></span></p>
<p><strong>Môn học:</strong> <span th:text="${exam.subject}"></span></p>

<form th:action="@{/exams/{id}/submit(id=${exam.examID})}" method="post">
    <ul>
        <li th:each="question, i : ${exam.questions}">
            <p th:text="${question.questionText}"></p>
            <ul>
                <li th:each="option, j : ${question.options}">
                    <input type="checkbox" th:name="'q' + ${i.index} " th:value="${j.index}">
                    <span th:text="${option}"></span>
                </li>
            </ul>
        </li>
    </ul>
    <button type="submit">Nộp bài</button>
</form>
</body>
</html>
