<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Exam Results</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body class="container mt-4">

<h2 class="mb-4">Exam Results</h2>

<!-- Form tìm kiếm theo username -->

<!-- Bảng kết quả -->
<table class="table table-bordered">
  <thead class="table-dark">
  <tr>
    <th>Exam ID</th>
    <th>Username</th>
    <th>Score</th>
    <th>Submission Time</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="result : ${results}">
    <td th:text="${result.getExamID()}"></td>
    <td th:text="${username}"></td>
    <td th:text="${result.getScore()}"></td>
    <td th:text="${#dates.format(result.getSubmittedAt(), 'dd/MM/yyyy HH:mm:ss')}"></td>


  </tr>
  </tbody>
</table>

</body>
</html>
