<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile - Exam Buddy E-Learning</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" th:href="@{/css/profile.css}">
</head>
<body>
<header>
    <div class="logo">
        <img src="../img/logo.jpg" alt="Logo">
    </div>
    <nav>
        <ul>
            <li><a href="/home">Trang chủ</a></li>
            <li><a href="/forum">Diễn đàn</a></li>
            <li><a href="/theory">Lý thuyết</a></li>
            <li><a href="/contact">Liên hệ</a></li>
        </ul>
    </nav>
</header>
<div class="container">
    <div class="sidebar">

        <a href="/profile"><span>&#128100;</span> Thông tin cá nhân</a>
        <a href="#"><span>&#128179;</span> Lịch sử thanh toán</a>
        <a href="/changePass"><span>&#128273;</span> Thay đổi mật khẩu</a>
        <a href="/logout"><span>&#128682;</span> Đăng xuất</a>
    </div>
    <div class="profile-content">
        <div class="profile-header">
            <div class="avatar">
                <img th:src="@{/avatar/{username}.jpg(username=${user.username})}" alt="Avatar">
            </div>
            <div>
                <h2>Xin chào, <span th:text="${user.username}"></span></h2>
            </div>
        </div>
        <p><strong>Họ và Tên:</strong> <span th:text="${user.username}"></span></p>
        <p><strong>SĐT:</strong> <span th:text="${user.phone}"></span></p>
        <p><strong>Email:</strong> <span th:text="${user.email}"></span></p>

        <!-- Upload Avatar -->
        <form th:action="@{/profile/upload}" method="post" enctype="multipart/form-data">
            <input type="file" name="avatar" required>
            <input type="hidden" name="username" th:value="${user.username}">
            <button type="submit">Tải lên</button>
        </form>

        <a href="#" class="edit-profile">✎ Chỉnh sửa hồ sơ</a>
    </div>
</div>
</body>
</html>
